@import "variables";
@import "mixins";
@import "responsive";

.about {
  padding-bottom: 5rem;
}

.about-container{
  @include flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.about-img {
  flex: 1 1 30rem;
}

.about-content {
  padding-left: 8rem;
  flex: 1 1 30rem;
  p{
    margin: 1.5rem 0;
  }
}

@include md-large;