.container{
  padding: 0 10%;
}

.title{
  margin-top: 1rem;
  font-family: 'Merienda One', cursive;
  font-size: clamp(2rem, 4vw, 2.5rem);
  text-transform: capitalize;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

button{
  border: none;
}

input:focus{
  outline: none;
}