@import "variables";
@import "mixins";

.menu{
  padding-bottom: 5rem;
}

.menu-container{
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  gap: 2rem;
}

.menu-img{
  width: 100%;
}