@import "variables";

@mixin flex($justify:space-between) {
  display: flex;
  align-items: center;
  justify-content: $justify;
}

@mixin border {
  border: 1px solid salmon;
}

@mixin set-background {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}