@mixin large {
  @media only screen and (max-width: 1090px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
    }

    .nav-links {
      display: none;
      width: 100%;
      text-align: center;
      ul {
        flex-direction: column;
        width: 100%;
      }
      li {
        margin-top: 5px;
        width: 100%;
        transition: all .3s ease 0s;
        &:hover{
          background-color: $primary-color;
          a{
            color: $white-color;
          }
        }
      }
      a {
        margin: 0;
      }
    }

    .toggle-button {
      display: flex;
    }

    .nav-links.active {
      margin: .4rem 0;
      padding-top: .2rem;
      padding-bottom: .5rem;
      display: flex;
      border-top: 1px solid $black-color;
      border-bottom: 1px solid $black-color;
    }
  }
}

@mixin x-large {
  @media only screen and (max-width: 1440px) {
    .container {
      padding: 0 3%;
    }

    .navbar {
      padding: 1rem 3%;
    }
  }
}

@mixin md-large {
  @media only screen and (max-width: 1060px){
    .about-content {
      padding: 0;
      text-align: center;
    }
  }
}

@mixin tablet {
  @media only screen and (max-width: 850px){

    .container-2{
      width: 100%;
    }

    .gallery-container{
      grid-template-columns: 1fr;
      grid-auto-rows: 1fr;
    }

    .home {
      text-align: center;
      p{
        padding: 0;
      }
    }

    .banner-title {
      span{
        color: $primary-color;
      }
    }

  }
}