@import "variables";
@import "mixins";
@import "responsive";

.team-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  gap: 3rem;
}

.card{
  text-align: center;
}


@include xxl;