@import "variables";
@import "mixins";
@import "global";
@import "header";
@import "home";
@import "facility";
@import "about";
@import "menu";
@import "gallery";

@import "responsive";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  // color: $black-color;
}